# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
venv
env/
venv.bak/
ENV/

# IDEs
.idea/
.vscode/
.ipynb_checkpoints/

# Project specific
/models/
/data/temp_daily/

# OS
.DS_Store
Thumbs.db
